.logo {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18pt;
}

#map-container {
  text-align: center;
}

/****** MAP CONTROLS ******/
/****** MAP ******/

#mapCanvas {
	width: 100%;
	height: 500px;	
	float: left;
}

#mapCanvas img {
  max-width: none; height: auto;
}


/** QUESTIONARY **/
.ans {
	padding-left: 45px;
	font-size: 35px;
	margin-bottom: 10px;
}

.ansTextcontainer {
	font-size: 35px;
}

.ansSelected {
	background-image: url('../images/checked.png');
	background-repeat:no-repeat;
}

.ansTextfield {
	padding-left: 0px;
	font-size: 35px;
	width: 100px;
}